<html>
<h1> Test </h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <p>

        {{ form.test.label }}<br>
        {{ form.test(size=32) }}<br>

    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>
</html>
