<html>
<h1> Test </h1>

<form action="" method="post" novalidate>
    {% for field in form.fields %}
    {{ field.name.label }}<br>
    {{ field.name(size=32) }} <br>
    {{ form.submit() }}
    {% endfor %}
</form>
</html>

